In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import seaborn as sns

In [4]:
sns.set_palette('husl')

In [6]:
import matplotlib.pyplot as plt

In [7]:
%matplotlib inline

In [8]:
from sklearn import metrics

In [12]:
from sklearn.neighbors import KNeighborsClassifier

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
from sklearn.model_selection import train_test_split

In [18]:
data = pd.read_csv("data/iris.csv")

In [19]:
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [22]:
data.rename(columns={'sepal.length':'SepalLengthCm','sepal.width' : 'sepalwidthcm'},inplace = True)

In [23]:
data.head()

   SepalLengthCm  sepalwidthcm  petal.length  petal.width variety
0            5.1           3.5           1.4          0.2  Setosa
1            4.9           3.0           1.4          0.2  Setosa
2            4.7           3.2           1.3          0.2  Setosa
3            4.6           3.1           1.5          0.2  Setosa
4            5.0           3.6           1.4          0.2  Setosa

In [31]:
data.variety.replace({'Setosa':'Iris-setosa'},inplace=True)

In [32]:
data.head()

   SepalLengthCm  sepalwidthcm  petal.length  petal.width      variety
0            5.1           3.5           1.4          0.2  Iris-setosa
1            4.9           3.0           1.4          0.2  Iris-setosa
2            4.7           3.2           1.3          0.2  Iris-setosa
3            4.6           3.1           1.5          0.2  Iris-setosa
4            5.0           3.6           1.4          0.2  Iris-setosa

In [40]:
data["petal.width"]=data["petal.width"].apply(lambda x: x+1)

In [41]:
data.head()

   SepalLengthCm  sepalwidthcm  petal.length  petal.width      variety
0            5.1           3.5           1.4          3.2  Iris-setosa
1            4.9           3.0           1.4          3.2  Iris-setosa
2            4.7           3.2           1.3          3.2  Iris-setosa
3            4.6           3.1           1.5          3.2  Iris-setosa
4            5.0           3.6           1.4          3.2  Iris-setosa

In [55]:
data_setosa=data[data['variety']=='Iris-setosa']

In [64]:
data_setosa = data_setosa[data_setosa['sepalwidthcm']>3.9]

In [65]:
data_setosa

    SepalLengthCm  sepalwidthcm  petal.length  petal.width      variety
14            5.8           4.0           1.2          3.2  Iris-setosa
15            5.7           4.4           1.5          3.4  Iris-setosa
32            5.2           4.1           1.5          3.1  Iris-setosa
33            5.5           4.2           1.4          3.2  Iris-setosa